<?xml version="1.0"?>
<GuestConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WDOption>
    <WDPoint>0</WDPoint>
    <WDRecomPoint>0</WDRecomPoint>
    <QuestPoint>0</QuestPoint>
    <PointType>Point</PointType>
    <IsLogin>false</IsLogin>
    <IsReply>false</IsReply>
  </WDOption>
  <BKOption>
    <CreatePoint>0</CreatePoint>
    <EditPoint>0</EditPoint>
    <RemmPoint>0</RemmPoint>
    <PointType>Point</PointType>
  </BKOption>
  <BarOption>
    <BarOption>
      <CateID>14</CateID>
      <UserTime>120</UserTime>
      <SendTime>5</SendTime>
    </BarOption>
    <BarOption>
      <CateID>2</CateID>
      <UserTime>120</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>3</CateID>
      <UserTime>120</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>28</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>32</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>29</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>30</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>31</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>23</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>24</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>33</CateID>
      <UserTime>0</UserTime>
      <SendTime>0</SendTime>
    </BarOption>
    <BarOption>
      <CateID>34</CateID>
      <UserTime>120</UserTime>
      <SendTime>5</SendTime>
    </BarOption>
  </BarOption>
</GuestConfigInfo>