{ZL.Source id="文章模型数据源标签"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="文章模型数据源标签" FD="Title" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="文章模型数据源标签" FD="Tagkey" page="0"/}" />
<meta name="Description" content="{SField sid="文章模型数据源标签" FD="Title" page="0"/}">
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/JS/Controls/B_User.js"></script>
<style>
body { background:#f1f1f1;}
p img { max-width:100%;}
h2 { text-align:center;}
</style>
</head>
<body>
{ZL.Label id="全站头部"/}
<div class="aboutus_banner"></div>
<div class="about_banner"></div>
<div class="container" style="margin-top:1em; margin-bottom:1em;">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h2 hidden>
创建时间：{ZL:FormatDate({SField sid="文章模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}
浏览次数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}"></SCRIPT>
</h2>
<div class="myContent">
<div class="myContent_c">
<h2>{SField sid="文章模型数据源标签" FD="Title" page="0"/}</h2>
{SField sid="文章模型数据源标签" FD="content" page="0"/}
</div>
<div class="myContent_s">
<div class="bdsharebuttonbox bdshare-button-style2-24" style="float:right;" data-bd-bind="1492498916286">
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
<a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
</div>
{ZL.Label id="全站底部"/}
</body>
</html>
<script>
//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});


//会员ajax登录状态需要结合JS/Controls/B_User.js引用同步生效
var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
        $(".home_nav .home_log").hide();
        $(".home_nav .home_reg").hide();
		$(".home_nav .home_user a").html("欢迎您,"+data.UserName+"!");
        $(".home_nav .home_user").show();
        $(".home_nav .home_out").show();
	}
});
function LogoutFun()
{
	buser.Logout(function(){location=location;});
}
/*显示搜索框*/
function isSearch(){
    //$(".home_top_nav").hide();
    //$(".home_search").css("opacity","1").css("z-index","1");
    //$(".home_search").show();
    $(".home_search").show();
    $(".home_top_nav").hide();
    $(".home_search .form-control").focus();
}
/*关闭搜索框*/
function isClose(){
    //$(".home_search").attr("transition","ease-in-out 0s");
    //$(".home_search").css("opacity","0").css("z-index","-1");
    $(".home_search").hide();
    $(".home_top_nav").show();
    //$(".home_top_nav").fadeIn(200);
}
/*右侧客服*/
$(".home_kefu li").mouseover(function(){
	$(this).siblings("li").removeClass("active");
	$(this).addClass("active");
}).mouseout(function(){
	$(this).removeClass("active");
});
$(".home_kefu_ct i").click(function(){
	$(this).parent().parent().parent().removeClass("active");
});
$(".home_kefu li:nth-child(3) a").click(function(){
	$body=(window.opera)? (document.compatMode=="CSS1Compat"? $('html') : $('body')) : $('html,body')
	$body.animate({scrollTop:0},1000);
});

/*加入收藏*/
function addFav() {
    var url = window.location;
    var title = document.title;
    var ua = navigator.userAgent.toLowerCase();
    if (ua.indexOf("360se") > -1) {
        alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
    }else if (ua.indexOf("msie 8") > -1) {
        window.external.AddToFavoritesBar(url, title); //IE8
    }else if (document.all) {
        try{
            window.external.addFavorite(url, title);
        }catch(e){
            alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
        }
    }else if (window.sidebar) {
        window.sidebar.addPanel(title, url, "");
    }else {
        alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
    }
}
$().ready(function(e) {
    $("#gid{SField sid="文章模型数据源标签" FD="GeneralID" page="0"/}").addClass("active");
});
</script>